/*
Los estilos para la barra superior o cabecera
de la aplicacion de registro de Ventas
*/

.bar-header-container{
    border-bottom: 0.5px solid rgba(0, 120, 10, 1);
    height: 60px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

